<div class="container">

  <h2>Edit your post!</h2>

  <% if @post.errors.any? %>
    <h3>Please fix these errors, first.</h3>
    <ul>
      <%= @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render 'form' %>

</div>
