<div class="container">
  <h1>How About a Journal Blog?</h1>

  <div class="col-md-12">
    <h4><%= flash[:notice] %></h4>
  </div>

  <% if @posts.any? %>
    <h4>Your Posts:</h4>

    <ul>
      <% @posts.each do |post| %>
        <li><%= link_to post.title, post_path(post.id) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>
      No posts yet!<br>
    </p>
  <% end %>
  <%= link_to "Write post", new_post_path %>
</div>
