<div class="container">
  <h2>Write a post!</h2>

  <% if @post.errors.any? %>
    <h3>Oops. Some errors occured. Try again?</h3>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= render 'form' %>

</div>
